*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-blue);
}

h1,
h2,
h3 {
  font-family: 'Roboto', Verdana, sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 7rem;
  font-weight: 900;
  color: var(--color-white);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  margin: 0 0 0.25rem;
}

a {
  color: var(--color-white);
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0 0.5rem;
  border-left: 1px solid var(--color-white);
}

li:first-child {
  padding: 0 0.5rem 0 0;
  border-left: 0;
}
