@import "./normalize.css";

:root {
  --color-white: #fff;
  --color-blue: #3498db;
}

@import "./fonts.css";
@import "./defaults.css";

.title {
  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content {
  max-width: 26rem;
  padding: 1.5rem;
}

@media (min-width: 208px) {
  .title {
    font-size: 5rem;
  }
}

@media (min-width: 256px) {
  .title {
    font-size: 6rem;
  }
}

@media (min-width: 384px) {
  .title {
    font-size: 7rem;
  }

  .main {
    align-items: center;
  }

  .content {
    padding: 2rem;
  }
}
