@import "./normalize.css";
@import "./fonts.css";
@import "./defaults.css";

.title {
  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content {
  max-width: 20rem;
  padding: 1.5rem;
  margin-bottom: 0;
}

@media (min-width: 208px) {
  .title {
    font-size: 5rem;
  }
}

@media (min-width: 256px) {
  .title {
    font-size: 6rem;
  }
}

@media (min-width: 416px) and (min-height: 480px) {
  .title {
    font-size: 7rem;
  }

  .main {
    align-items: center;
  }

  .content {
    padding: 2rem;
    margin-bottom: 0;
  }
}

@media (max-width: 416px) {
  .content {
    margin-bottom: 4rem;
  }
}
